* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
html {
    font-family: sans-serif;
    box-sizing: border-box;
}

/* Top Header - User Actions (Đăng nhập, Đăng ký, Tìm kiếm, Giỏ hàng) */
.top-header {
background-color: #000;
padding: 10px 0;
border-bottom: 1px solid #ddd;
height: 45px;
position: fixed;
top: 0;
width: 100%;
z-index: 1000;
display: flex;  /* Sử dụng Flexbox để sắp xếp các phần tử ngang hàng */
justify-content: center;  /* Căn đều hai bên */
align-items: center;  /* Căn giữa theo chiều dọc */
}

/* Container chứa hai khối */
.container {
    width: 90%;
    display: flex;
    justify-content: space-between;  /* Khối 1 ở trái, khối 2 ở phải */
    align-items: center;
}

/* Khối 1: Đăng nhập, Đăng ký */
.auth-actions {
    display: flex;
    gap: 25px;  /* Khoảng cách giữa Đăng ký và Đăng nhập */
    font-size: 14px;
}

.auth-actions a {
    color: #bda87f;
    text-decoration: none;
    font-weight: bold; 
}

.auth-actions a:hover {
    color: #f4304c;
}

/* Khối 2: Search, Giỏ hàng */
.shop-actions {
    display: flex;
    gap: 20px;  /* Khoảng cách giữa Search và Giỏ hàng */
    font-size: 14px;
}

.shop-actions a {
    color: #bda87f;;
    text-decoration: none;
    font-weight: bold;
    
}

.main-header {
margin-top: 80px;
background-color: #fff;
color: white;
padding: 10px 0;
}

.container {
width: 90%;
margin: 0 auto;
display: flex;
justify-content: space-between;
align-items: center;
height: 30px;
}

/* Logo */
.logo img {
max-width: 164px; /* Kích thước của logo */
max-height: 76px;
margin-right: 100px;
}

/* Navigation */
.nav-list {
list-style: none;
display: flex;
gap: 20px;
}

.nav-list li {
display: inline;
}

.nav-list li a {
color: #000;
text-decoration: none;
font-weight: bold;
padding: 10px 15px;
font-size: 14px;
line-height: 1.7;
}

.nav-list li a:hover {
color: #bda87f;
border-radius: 5px;
}

#slider {
    /* position: relative; */
    margin-top: 30px;
    padding-top: 40;  /* 50% của chính nó, khi thay đổi kích thước cửa sổ thì slider có kích thước chiều cao bằng 50% chiều rộng */
    background: url('https://bizweb.dktcdn.net/thumb/2048x2048/100/069/071/themes/895058/assets/slider_1.jpg?1697775911374') top center / cover no-repeat;
    /* height: 5px; */
}

.product {
    margin-top: 50px;
    width: 100%;
    background: wheat;
    height: 50px;
}