* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    box-sizing: border-box;
}

header {
    height: 45px;
    background-color: #000;
}

#log_sign {
    font-size: 13px;
    float: left;
    width: 240px;
    height: 45px;
    color: antiquewhite;
}

#log_sign .login, 
#log_sign .sign_up  {
    text-decoration: none;
    
}



.search_shop {

}

.search {

}

.shop {

}

